<footer class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>De Leiding</h3>
                <p class="text-center">
                    Heb je een dringende vraag? Stuur of bel onze groepsleiding!
                </p>
                <ul class=" text-center ps-0">
                    <li class="d-inline-block">Winke Kindermans - +32 474 63 13 85</li>
                    <li class="d-inline-block">Robbe Van Riet - +32 477 33 87 45</li>
                    <li class="d-inline-block">Litsa Boesmans - +32 489 55 52 02</li>
                </ul>

                <p class="text-center ">
                    Heb je vragen specifiek voor de afdelingsleiding, kijk dan op de <a href="/pages/afdelingen.html">afdelingspagina.</a>
                </p>
            </div>

            <div class="col">
                <h3>Kom In Contact!</h3>
                <p>info@chiropopov.be</p>
                <p>Chiro Popov Gijzegem op <a href="https://www.facebook.com/groups/92818007690">Facebook.</a></p>
            </div>

            <address class="col">
                <h3>Breng Ons Een Bezoek</h3>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2511.6961222196164!2d4.056634976921085!3d50.98480724874526!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c3970a1430fa49%3A0x9737e92cfa0f6b47!2sChiro%20Popov%20vzw!5e0!3m2!1sen!2sbe!4v1706266883410!5m2!1sen!2sbe"
                    width="300" height="225" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </address>
        </div>
    </div>

</footer>
